@model IEnumerable<DrPet.Web.Data.Entities.Appointment>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<div>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <p>
                @if (!String.IsNullOrEmpty(Context.Request.Query["username"]) || this.User.IsInRole("Client"))
                {
                    <a asp-action="Create" asp-route-username="@Context.Request.Query["username"]">Schedule an Appointment</a>
                    <br>
                }
            </p>
            <div class="mb-5">
                <ejs-schedule id="schedule" height="550" startHour="09:00" endHour="18:00" allowMultiCellSelection="false" eventRendered="onEventRendered" readonly="true" eventClick="onEventClick">
                    <e-schedule-views>
                        <e-schedule-view option="WorkWeek"></e-schedule-view>
                    </e-schedule-views>
                    <e-schedule-eventsettings dataSource="@Model"></e-schedule-eventsettings>
                    <e-schedule-quickinfotemplates content="#content-template">
                    </e-schedule-quickinfotemplates>
                </ejs-schedule>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="row">
            <h2 class="justify-content-start">Appointments</h2>
            <div class="col-lg-12 p-0">
                <div>
                    <input type="button" class="btn listFilter" value="All" data-status="All" /> |
                    <input type="button" class="btn listFilter" value="Waiting Aproval" data-status="Waiting" /> |
                    <input type="button" class="btn listFilter" value="Confirmed" data-status="Confirmed" /> |
                    <input type="button" class="btn listFilter" value="In Progress" data-status="InProgress" /> |
                    <input type="button" class="btn listFilter" value="Completed" data-status="Completed" />
                </div>
                <div class="main-box clearfix">
                    <div class="table-responsive">
                        <table class="table user-list" id="MyTable">
                            <thead>
                                <tr>
                                    <th><span>Client</span></th>
                                    <th><span>Animal</span></th>
                                    <th><span>Doctor</span></th>
                                    <th><span>Date</span></th>
                                    <th class="text-center"><span>Status</span></th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <img src="~/images/Default/nopicture.png" alt=""> <!--MUDAR ISTO PARA UMA IMAGEM DEFAULT-->
                                            <a asp-controller="Account" asp-action="Profile" asp-route-username="@item.Client.User.UserName" class="user-link">@Html.DisplayFor(modelItem => item.Client.User.FullName)</a>
                                            <span class="user-subhead">
                                                @Html.DisplayFor(modelItem => item.Client.User.UserName)
                                            </span>
                                        </td>
                                        <td>
                                            <a asp-controller="Animals" asp-action="Details" asp-route-id="@item.Animal.Id" class="list-link">
                                                @Html.DisplayFor(modelItem => item.Animal.Name)
                                            </a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Doctor.User.FullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StartTime)
                                        </td>
                                        <td class="text-center">
                                            <span class="@item.Status" />
                                        </td>
                                        <td class="w-25 text-center" id="@item.Id">
                                            <a class="table-link changeScheduleDate" data-appointment-date="@Html.DisplayFor(modelItem => item.StartTime)">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fas fa-arrow-up fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            @if (!this.User.IsInRole("Client"))
                                            {
                                                <a asp-controller="Appointments" asp-action="Details" asp-route-id="@item.Id" class="table-link">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                                @if ((item.Status == "Confirmed") && this.User.IsInRole("Admin"))
                                                {
                                                    <a href="#" class="table-link danger" id="btnDeleteAppointment">
                                                        <span class="fa-stack">
                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                            <i class="fa fa-trash-alt fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </a>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="deleteDialog" class="modal fade">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <p>Do you want to cancel this Appointment?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnYesDelete">Delete</button>
                <button type="button" class="btn btn-success" id="btnNoDelete">No</button>
            </div>
        </div>
    </div>
</div>

<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#MyTable').DataTable();
    });
</script>

<script>

    $(document).ready(function () {

        var id = "";

        $('a[id*=btnDeleteAppointment]').click(function () {
            id = $(this).parent()[0].id;
            $("#deleteDialog").modal('show');
            return false;
        });

        $("#btnNoDelete").click(function () {
            $("#deleteDialog").modal('hide');
            return false;
        });

        $("#btnYesDelete").click(function () {
            window.location.href = '/Appointments/DeleteAppointment/' + id;
        });
    });

    function onEventRendered(args) {
        var categoryColor;
        switch (args.data.Status) {
            case 'Confirmed':
                categoryColor = '#0059ff';
                break;
            case 'Waiting':
                categoryColor = '#ffc107';
                break;
            case 'InProgress':
                categoryColor = '#17a2b8';
                break;
            case 'Completed':
                categoryColor = '#129600';
                break;
        }
        if (!args.element || !categoryColor) {
            return;
        }
        var scheduleObj = document.getElementById('schedule').ej2_instances[0];
        if (scheduleObj.currentView === 'Agenda') {
            (args.element.firstChild).style.borderLeftColor = categoryColor;
        } else {
            args.element.style.backgroundColor = categoryColor;
        }
    }


    function onEventClick(args) {

        var isAdmin = '@User.IsInRole("Admin")'.toLowerCase();

        if (args.event.Status === "Waiting" && isAdmin == 'true') {

            var date = moment(args.event.StartTime).format('LLL');
            var current = moment().format('LLL')

            if (moment(date).isAfter(current)) {
                args.cancel = true;

                appointment = args.event;

                $('#modalDoctor').text(args.event.Doctor.User.FullName);
                $('#modalClient').text(args.event.Client.User.FullName);
                $('#modalAnimal').text(args.event.Animal.Name);
                $('#modalDate').text(moment(args.event.StartTime).format('LLL'));
                $('#AreYouSure').hide();
                $('#AcceptCancel').show();
                $('#ModalTeste').modal('show');
            }
        }
    }

</script>

<script id="content-template" type="text/x-template">
    <div class="quick-info-content">
        <div class="event-content">
            <div class="meeting-type-wrap">
                <label>Client</label>:
                <span> ${Client.User.FullName}</span>
            </div>
            <div class="meeting-type-wrap">
                <label>Animal</label>:
                <span> ${Animal.Name}</span>
            </div>
            <div class="meeting-type-wrap">
                <label>Doctor</label>:
                <span> ${Doctor.User.FullName}</span>
            </div>
            <div class="meeting-type-wrap">
                <label>Description</label>:
                <span> ${ClientDescription}</span>
            </div>
            <div class="meeting-type-wrap">
                <label>Time</label>:
                <span>${StartTime}</span>
            </div>
        </div>
    </div>
</script>


<ejs-scripts></ejs-scripts>