@model DrPet.Web.Data.Entities.Appointment

@{
    ViewData["Title"] = "Details";
}



<div class="container View">
    <div class="row justify-content-center">
        <div class="col-6 text-center align-middle">
            <h1 class="mb-5 p-0">Details</h1>
            <table class="col-12">
                <tbody>
                    <tr>
                        <td class="text-right col-4 pr-4">
                            <h2>Client</h2>
                        </td>
                        <td class="col-4">
                            @Html.DisplayFor(model => model.Client.User.FullName)
                        </td>
                        <td class="col-4">
                            <a asp-controller="Account" asp-action="Profile" asp-route-username="@Model.Client.User.UserName"><span class="fas fa-search"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right col-4 pr-4">
                            <h2>Animal</h2>
                        </td>
                        <td class="col-4 py-5">
                            @Html.DisplayFor(model => model.Animal.Name)
                        </td>
                        <td class="col-4">
                            <a asp-controller="Animals" asp-action="Details" asp-route-id="@Model.Animal.Id"><span class="fas fa-search"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right col-4 pr-4">
                            <h2>Doctor</h2>
                        </td>
                        <td class="col-4">
                            @Html.DisplayFor(model => model.Doctor.User.FullName)
                        </td>
                        <td class="col-4">
                            <a asp-controller="Account" asp-action="Profile" asp-route-username="@Model.Doctor.User.UserName"><span class="fas fa-search"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            @if (!String.IsNullOrEmpty(Model.ClientDescription))
            {
                <div class="m-5">
                    <h2>Client Description</h2>
                    <textarea class="form-control" readonly style="resize:none">@Html.DisplayFor(model => model.ClientDescription)</textarea>
                </div>
            }
            <div class="m-5">
                <h2> Notes</h2>
                <textarea class="form-control" style="resize:none" id="notes" readonly>@Html.DisplayFor(model => model.DoctorNotes)</textarea>
                <br>
            </div>
            <div>
                <input type="button" value="Start Appointment" id="start" class="btn btn-primary" />
                <input type="button" value="End Appointment" id="end" class="btn btn-danger" />
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var Status = '@Model.Status';

        if (Status == 'Confirmed') {
            $('#end').hide();

        }
        else if (Status == 'InProgress') {
            $('#start').hide();
            $('#notes').removeAttr('readonly');
        }
        else {
            $('#start').hide();
            $('#end').hide();
        }
    });


    //$('#start').click(function () {
    //    $('#start').hide();
    //    $('#end').show();

    //});

    $('#start').click(function () {
          $.ajax({
                    type: "GET",
                    url: '@Url.Action("StartAppointment", "Appointments", new { id = Model.Id })',
                    dataType: "json",
                    success: function (data) {
                        if (data.result == "Success") {

                            $('#start').hide();
                            $('#end').show();
                            $('#notes').removeAttr('readonly');

                        }
                        else {
                        }
                    }
             });
    });

    $('#end').click(function () {
           $.ajax({
                    type: "GET",
                    url: '@Url.Action("EndAppointment", "Appointments", new { id = Model.Id })',
                    dataType: "json",
                    data: {
                        notes :  $('#notes').val()
                    },
                    success: function (data) {
                        if (data.result == "Success") {

                            $('#end').hide();
                            $('#notes').attr('readonly', true);

                        }
                        else {
                        }
                    }
             });
      
    });
</script>