@model IEnumerable<DrPet.Web.Data.Entities.AppointmentTemp>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @if (this.User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Client)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Animal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (this.User.IsInRole("Admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Client.User.FullName)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Animal.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.User.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (this.User.IsInRole("Admin"))
                    {
                        <a asp-action="ConfirmAppointmentTemp" asp-route-id="@item.Id" class="btn btn-success" id="btnConfirmAppointmentTemp">Confirm Appointment</a>
                    }
                    <a asp-action="DeleteAppointmentTemp" asp-route-id="@item.Id" class="btn btn-danger" id="btnDeleteAppointmentTemp">Cancel Appointment</a>
                </td>
            </tr>
        }
    </tbody>
</table>
