@model IEnumerable<DrPet.Web.Data.Entities.Client>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.DocumentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.StreeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Phone)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.DocumentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.StreeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Phone)
            </td>
            <td>
                <a asp-controller="Account" asp-action="ChangeUser" asp-route-username="@item.User.UserName">Edit</a> |
                <a asp-action="Details" asp-route-username="@item.User.UserName">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
